# Ignore everything by default
*

# Include only these folders
!.gitignore
!kubejs/
!resourcepacks/
!shaderpacks/
!mods/

# Keep directory structure
!*/

# Explicitly ignore config files
.minecraft/
*.json
*.txt
*.yaml
*.yml
*.log
*.css